
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/* GENERAL*/

*{
    margin: 0;
    box-sizing: border-box;
    
    
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Caveat', cursive;
}


nav{
    width: 100vw;
    height: 70px;
    margin-left: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    background-color: black;
    position: fixed;
    z-index: 20;



}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
    
}

nav ul li{
    list-style-type: none;
    margin: 20px;


}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    
}

nav ul li a:hover {
    color: #7e7e7e;
    font-weight: bold;
    transition: .5s all ease-in-out;
}

nav ul li i{
    font-size: 20px;
    color: white;
    
}
/*----------chapitre1----------*/

.chapitre1{
width: 80vw;
   background-image: url("imagefond.jpg");
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center; 
}

.cv{
    margin-left: 50px;
    margin-top: 150px;
    margin-bottom: 100px;
}
.chapitre1 h1{
    font-size: 3rem;
    color: gray;
    text-shadow: 2px 5px 1px black;
    
}

.chapitre1 p{
    font-size: 1.5rem;   
}

.chapitre1 img{
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: inset;
    position: absolute;
    margin-left: 750px;
}




/*-------------chapitre2----------*/

.chapitre2{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    background-color: bisque;

}

.ch2 {
    margin-left: 50px;
    margin-top: 100px;
}

.chapitre2 h2{
    font-size: 2rem;
    color: gray;
    text-shadow: 2px 5px 1px black; 
    
  
}

.chapitre2 p {
    font-size: 1rem;
}

.chapitre2 video{
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: inset;
    position: absolute;
    margin-left: -400px;
    margin-top: 100px;
}

#project{
    margin-left: 50px;
}

#projet1, #projet2, #projet3, #projet4, #projet5{
    display: none;
}

.projects{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

}

.projet-inner button{
   margin-left: -10px;
}
.projet-inner p{
    margin-left: 30px;
}

.chapitre2 button{
    width: 130px;
    height: 40px;
    font-size: 0.6rem;
    border-radius: 20px;
}

.chapitre2 button:hover {
    background-color: #c625d0;
    font-weight: bold;
}

.diapo{
    width: 600px;
    height: auto;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    margin-left: 250px;
}


.elements{
    display: flex;
}

.element{
    flex: 1 0 100%;
    position: relative;
}

.element img{

    width: 100%;
    height: 100%;

}
.caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    padding: 10px;
}

#nav-gauche, #nav-droite{
    position: absolute;
    cursor: pointer;
    top: 50%;
    color: white;
    transform: translateY(-51%);
    font-size: 2rem;

}

#nav-droite{
   right: 0;
}

/*chapitre 3*/

.chapitre3{
    width: 80vw;
    margin: auto;
    padding-top: 50px;
    display: block;
    text-align: left;
    color:brown;
    background-color: rgb(226, 245, 189)
    
}

.chapitre3 h2 {
    font-size: 3rem;
    color: gray;
    text-shadow: 2px 5px 1px black;
    margin-left: 50px;
    margin-top: 5px;

}

.chapitre3 ul{
   padding-bottom: 100px;
   margin-bottom: 0;
}

.chapitre3 ul li{
    font-size: 1.8rem;
}

/*chapitre4*/
.chapitre4{
    width: 80vw;
    margin: auto;
    background-color: rgb(250, 226, 189);
    display: flex;
    align-items: center;
 
}

.chapitre4 h2{
    font-size: 3rem;
    color: gray;
    text-shadow: 2px 5px 1px black;
    margin-left: 50px;



}
.chapitre4 table{
    
    display: flex;
    justify-content: center;
    height: 530px;
    margin-left: 140px;
    margin-top: 150px;
    width: 75%;
    


}

#tab th{

    color: rgb(20, 18, 91);
    text-align: center;
    font-size: 2rem;
    border-style: double;
             
}

#tab td{
    border-style: double;
}
#tab td img{
    height: 110px;
    display: inline;
    padding: 5px 20px 5px 20px;  
    
}

/*chapitre 5*/

.chapitre5{
    width: 80vw;
    margin: auto;
    display: grid;
    align-items: center;
    background-color: rgb(246, 239, 239);
}
.chapitre5 h2 {
    font-size: 3rem;
    color: gray;
    text-shadow: 2px 5px 1px black;
    margin-left: 50px;
    padding-top: 50px;


}
#tab2{
    display: flex;
    justify-content: center;
    height: 300px;
    padding-top: 100px;
    padding-bottom: 350px;

}

.chapitre5 li{
    font-size: 2rem;
    margin-left: 40px;

}

/*chapitre6*/

.chapitre6{
    width: 80vw;
    margin: auto;
    background-color: beige;
    position: relative;   
}  

.chapitre6 h2 {
    font-size: 2rem;
    color: gray;
    text-shadow: 2px 5px 1px black;
    margin-left: 50px;

}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
    position: relative;
    
}

label{
    margin-left: 10px;
    margin-top: 10px;

}

input{
    margin-left: 20px;
}

textarea{
    width: 50%;
    height: 200px;
    margin-left: 200px;
    margin-top: 10px;
    
}

button{
    width: 100px;
    height: 30px;
    text-align: center;
    margin-left: 450px;
    margin-top: 10px;
    cursor: pointer;


}


button::after {
    content: '';
    width: 400px;
    height: 400px;
    background-color: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    z-index: 20;
    position: absolute;

}

.chapitre6 a p{
    margin-left: 20px;

}
a{
    text-decoration: none;
}
a:hover{
    color: black;
    
}

/*footer*/
.icons{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.icons i:hover{
    color: white;
}

@media all and (max-width: 798px) {

nav {
        width: 155px;
        height: 100vh;
        flex-direction: column;
        align-items: left;
        justify-content: space-around;
        margin-left: -45px;

    }

    nav ul {
        display: flex;
        flex-direction: column;
    
    
        
    }


    nav ul li a {
        font-size: 0.7rem;
        padding-left: 0;
    }


    nav ul li i {
        font-size: 0.5rem;


    }

    /*----------chapitre1----------*/

    .chapitre1 {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .chapitre1 h1 {
        font-size: 1.5rem;
        

    }
    .cv{
        margin-left: 50px;
        margin-top: 50px;
    }

    .chapitre1 p {
        font-size: 1rem;
    }

    .chapitre1 img {
        height: 180px;
        object-fit: cover;
        border-radius: 20px;
        box-shadow: inset;
        position: absolute;
        margin-top: 300px;
        margin-left: -250px;
    
    }




    /*-------------chapitre2----------*/

    .chapitre2 {
        width: 100vw;
        height: 100vh;

    }

    .ch2 {
        margin-left: 130px;
        margin-top: -30px;
    }

    .chapitre2 h2 {
        font-size: 1.5rem;

    }

    .chapitre2 p {
        font-size: 1rem;
    }

    .chapitre2 video {
        width: 180px;
        object-fit: cover;
        border-radius: 20px;
        box-shadow: inset;
        position: absolute;
       margin-left: -450px;
       margin-top: 130px;
    }

    #project {
            margin-left: 130px;
        }


        .diapo {
            width: 300px;
            height: auto;
            box-sizing: border-box;
            position: relative;
            overflow: hidden;
            margin-left: 250px;
        }
    
    
        .elements {
            display: flex;
        }
    
        .element {
            flex: 1 0 100%;
            position: relative;
        }
    
        .element img {
    
            width: 100%;
            height: 100%;
    
        }
    
        .caption {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(255, 255, 255, 0.4);
            text-align: center;
            padding: 10px;
        }
    
        #nav-gauche,
        #nav-droite {
            position: absolute;
            cursor: pointer;
            top: 50%;
            color: white;
            transform: translateY(-51%);
            font-size: 2rem;
    
        }
    
        #nav-droite {
            right: 0;
        }

    /*chapitre 3*/

    .chapitre3 {
        width: 100vw;
    }

    .chapitre3 h2 {
        font-size: 1.5rem;
        margin-left: 130px;

    }

    .chapitre3 ul li {
        font-size: 1rem;
        margin-left: 120px;
    }

    /*chapitre4*/
    .chapitre4 {
        width: 100vw;
        height: 100vh;


    }

    .chapitre4 h2 {
        font-size: 1.5rem;
        margin-top: -400px;
        margin-left: 130px;



    }

    .chapitre4 table {

        height: 300px;
       margin-left: -50px;
        width: 75%;
        
    }

    #tab th{
        font-size: 1rem;
    }


    #tab td img {
        height: 70px;

    }

    /*chapitre 5*/

    .chapitre5 {
        width: 100vw;
        height: 100vh;
        margin-left: 100px;
        display: grid;
        align-items: center;
        background-color: rgb(246, 239, 239);
    }

    .chapitre5 h2 {
        font-size: 1.5rem;
        color: gray;
        text-shadow: 2px 5px 1px black;
        margin-left: 50px;
        margin: 50px;

    }

    #tab2 {
        
        height: 300px;
        margin-left: -150px;

    }

    .chapitre5 li {
        font-size: 1rem;
        margin-left: 20px;
    

    }

    /*chapitre6*/

    .chapitre6 {
        width: 100vw;

    }

    .chapitre6 h2 {
        font-size: 1.5rem;
        margin-left: 130px;

    }

    form {
        margin-left: 130px;
    }

    label {
        margin-left: 5px;
        margin-top: 5px;

    }

    input {
        margin-left: 10px;
    }

    textarea {
        width: 50%;
        height: 200px;
        margin-left: 120px;
        margin-top: 10px;

    }

    button {
        width: 100px;
        height: auto;
        text-align: center;
        margin-left: 350px;
        margin-top: 10px;
        font-size: 0.7rem;
        cursor: pointer;
    }

    

    .chapitre6 a p {
        margin-left: 130px;

    }

   

    /*footer*/
    .icons {
        
        margin-left: 150px;
        

    }

    
}





    
    
       






