
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/* GENERAL*/

*{
    margin: 0;
    box-sizing: border-box;
    
    
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Caveat', cursive;
}


nav{
    width: 100vw;
    height: 70px;
    margin-left: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    background-color: black;
    position: fixed;



}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
    
}

nav ul li{
    list-style-type: none;
    margin: 20px;


}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    
}

nav ul li a:hover {
    color: #7e7e7e;
    font-weight: bold;
    transition: .5s all ease-in-out;
}

nav ul li i{
    font-size: 20px;
    color: white;
    
}
/*----------chapitre1----------*/

.chapitre1{
    width: 80vw;
    height: 100vh;

   background-image: url("imagefond.jpg");
   margin-left: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center; 
}

.cv{
    margin-left: 50px;
}
.chapitre1 h1{
    font-size: 3rem;
    color: gray;
    text-shadow: 2px 5px 1px black;
    
}

.chapitre1 p{
    font-size: 1.5rem;   
}

.chapitre1 img{
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: inset;
    position: absolute;
    margin-left: 750px;
}




/*-------------chapitre2----------*/

.chapitre2{
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    background-color: bisque;

}

.ch2 {
    margin-left: 50px;
}

.chapitre2 h2{
    font-size: 3rem;
    color: gray;
    text-shadow: 2px 5px 1px black; 
  
}

.chapitre2 p {
    font-size: 1.3rem;
}

.chapitre2 video{
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: inset;
    position: absolute;
    margin-left: -400px;
    margin-top: -100px;
}

/*chapitre 3*/

.chapitre3{
    width: 80vw;
    height: 100vh;
    margin-left: 100px;
    padding-top: 50px;
    display: block;
    text-align: left;
    color:brown;
    background-color: rgb(226, 245, 189)
    
}

.chapitre3 h2 {
    font-size: 3rem;
    color: gray;
    text-shadow: 2px 5px 1px black;
    margin-left: 50px;

}

.chapitre3 ul li{
    font-size: 1.5rem;
}

/*chapitre4*/
.chapitre4{
    width: 80vw;
    height: 100vh;
    margin-left: 100px;
    background-color: rgb(250, 226, 189);
    display: flex;
    align-items: center;
 
}

.chapitre4 h2{
    font-size: 3rem;
    color: gray;
    text-shadow: 2px 5px 1px black;
    margin-left: 50px;


}
.chapitre4 table{
    
    display: flex;
    justify-content: center;
    height: 530px;
    margin-left: 160px;
    background-color: black;
    width: 75%;
    border-style: double;
    border-color: white;


}

#tab th{

    color: rgb(20, 18, 91);
    font-size: 2.8em;
    text-align: center;
    font-size: 2rem;
    color: white;
             
}

#tab td{
    border-style: double;
}
#tab td img{
    height: 150px;
    display: inline;
    padding: 5px 20px 5px 20px;  
    
}

/*chapitre 5*/

.chapitre5{
    width: 80vw;
    height: 100vh;
    margin-left: 100px;
    display: grid;
    align-items: center;
    background-color: rgb(246, 239, 239);
}
.chapitre5 h2 {
    font-size: 3rem;
    color: gray;
    text-shadow: 2px 5px 1px black;
    margin-left: 50px;
    margin: 50px;

}
#tab2{
    display: flex;
    justify-content: center;
    height: 300px;

}

.chapitre5 li{
    font-size: 2rem;
    margin-left: 40px;

}

/*chapitre6*/

.chapitre6{
    width: 80vw;
    height: 100vh;
    margin-left: 100px;
    background-color: beige;   
}  

.chapitre6 h2 {
    font-size: 2rem;
    color: gray;
    text-shadow: 2px 5px 1px black;
    margin-left: 50px;

}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
}

label{
    margin-left: 10px;
    margin-top: 10px;

}

input{
    margin-left: 20px;
}

textarea{
    width: 50%;
    height: 200px;
    margin-left: 200px;
    margin-top: 10px;
    
}

button{
    width: 100px;
    height: auto;
    text-align: center;
    margin-left: 450px;
    margin-top: 10px;
}

button:hover{
    box-shadow: 1px 2px 18px red;
}

.chapitre6 a p{
    margin-left: 20px;

}
a{
    text-decoration: none;
}
a:hover{
    color: black;
    
}

/*footer*/
.icons{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.icons i:hover{
    color: white;
}

@media all and (max-width: 798px) {

nav {
        width: 180px;
        height: 100vh;
        flex-direction: column;

        margin-left: -45px;

    }

    nav ul {
        display: flex;
        flex-direction: column;
        
    }


    nav ul li a {
        font-size: 0.7rem;
        padding-left: 2px;
    }


    nav ul li i {
        font-size: 10px;


    }

    /*----------chapitre1----------*/

    .chapitre1 {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .chapitre1 h1 {
        font-size: 1.5rem;
        

    }
    .cv{
        margin-left: -50px;
        margin-top: 50px;
    }

    .chapitre1 p {
        font-size: 1rem;
    }

    .chapitre1 img {
        height: 180px;
        object-fit: cover;
        border-radius: 20px;
        box-shadow: inset;
        position: absolute;
        margin-top: 300px;
        margin-left: -250px;
    
    }




    /*-------------chapitre2----------*/

    .chapitre2 {
        width: 100vw;
        height: 100vh;

    }

    .ch2 {
        margin-left: 90px;
        margin-top: -30px;
    }

    .chapitre2 h2 {
        font-size: 1.5rem;

    }

    .chapitre2 p {
        font-size: 1rem;
    }

    .chapitre2 video {
        width: 180px;
        object-fit: cover;
        border-radius: 20px;
        box-shadow: inset;
        position: absolute;
       margin-left: -450px;
       margin-top: 130px;
    }

    /*chapitre 3*/

    .chapitre3 {
        width: 100vw;
    }

    .chapitre3 h2 {
        font-size: 1.5rem;

    }

    .chapitre3 ul li {
        font-size: 1rem;
    }

    /*chapitre4*/
    .chapitre4 {
        width: 100vw;
        height: 100vh;


    }

    .chapitre4 h2 {
        font-size: 1.5rem;
        margin-top: -400px;



    }

    .chapitre4 table {

        height: 300px;
       margin-left: -50px;
        width: 75%;
    }


    #tab td img {
        height: 70px;

    }

    /*chapitre 5*/

    .chapitre5 {
        width: 100vw;
        height: 100vh;
        margin-left: 100px;
        display: grid;
        align-items: center;
        background-color: rgb(246, 239, 239);
    }

    .chapitre5 h2 {
        font-size: 1.5rem;
        color: gray;
        text-shadow: 2px 5px 1px black;
        margin-left: 50px;
        margin: 50px;

    }

    #tab2 {
        
        height: 300px;
        margin-left: -150px;

    }

    .chapitre5 li {
        font-size: 1rem;
        margin-left: 20px;
    

    }

    /*chapitre6*/

    .chapitre6 {
        width: 100vw;

    }

    .chapitre6 h2 {
        font-size: 1.5rem;

    }

    form {
        margin-left: 30px;
    }

    label {
        margin-left: 5px;
        margin-top: 5px;

    }

    input {
        margin-left: 10px;
    }

    textarea {
        width: 50%;
        height: 200px;
        margin-left: 120px;
        margin-top: 10px;

    }

    button {
        width: 100px;
        height: auto;
        text-align: center;
        margin-left: 350px;
        margin-top: 10px;
    }

    button:hover {
        box-shadow: 1px 2px 18px red;
    }

    .chapitre6 a p {
        margin-left: 50px;

    }

   

    /*footer*/
    .icons {
        
        margin-left: 150px;
        

    }

    
}





    
    
       






