


/* GENERAL*/

*{
    margin: 0;
    margin: 0;
    
    
}

li :visited{
    font-weight: bold;
}

li :hover{
    color: blue;
    
}

a :active{
    color: black;
}

p{
    font-size: 3em;
}

a{
    text-decoration: none;
}

/* BARRE DE NAVIGATION */
.navbar{
  
    overflow: auto;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(171, 205, 216);
    opacity: 0.9;
    position: fixed;
    width: 100%;
    margin: 0;
         
}

.navbar ul{
    float: left;
    margin-left: 10px;
    list-style: none;

   
}

.navbar ul li{
   
   float: left;

    
}

.navbar a{
    
    padding: 17px 20px;
    line-height: 30px;
    font-size: 2em;
    color: black;
    text-decoration: none;
}

.navbar a:hover{
    color: blue;
    transform: scale(3em);
    transition: 0.7;
}

/*----------chapitre1----------*/

h1{
    font-family: 'Dancing script', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5em;
    text-align: center;
    color: palevioletred;
    border-top: 5px;
    margin: 50px;
    text-shadow: 2px 5px 1px black;
}

.chapitre1{
    background-image: url("imagefond.jpg");
    
    
}
.chapitre1 a{
    font-size: 0.8em;
}
/*-------------chapitre2----------*/
h2{
    font-size: 5em;
    color: brown;
    text-align: center;
    margin: 50px;
    text-shadow: 2px 5px 1px black;
}


.chapitre1, .chapitre2{
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 20px;
    text-align: center;
    color:brown;
    height: 930px;
}

img{
    height: 500px;
    box-shadow: 6px 6px 28px -1px black;
}

#cv{
    text-decoration: none;
    font-size: 60px;
    color: rgb(34, 2, 2);
}

video{
    height: 300px;
    border: 0;
}

.chapitre2{
    background-color: bisque;
}
.chapitre3{
    height: 930px;
    display: block;
    padding-top: 200px;
    text-align: center;
    color:brown;
    background-color: rgb(226, 245, 189)
    
}

.chapitre3 ul li{
    font-size: 2.9em;
}


.chapitre4{
    
    background-color: rgb(250, 226, 189);
    height: 930px;
    
    
}
.chapitre4 table{
    
    display: flex;
    justify-content: center;
    height: 600px;
    margin-top: 50px;
    margin-left: 200px;
    background-color: azure;
    width: 60%;
}



#tab th{

    color: rgb(20, 18, 91);
    font-size: 2.8em;
    border-style: double;
          
    
}





td img{
    height: 200px;
    display: inline;
    margin: 5px 20px 5px 20px;
    
    
    
}




.chapitre5{
    height: 930px;
    display: grid;
    text-align: center;
    color:brown;
    margin-top: 200px;
    background-color: rgb(246, 239, 239);
}

#tab2{
    display: flex;
    justify-content: center;
    height: 300px;
    margin-top: 50px;
}

.chapitre5 li{
    font-size: 3em;

}

.chapitre6{
    height: 930px;
    padding: 20px 0 10px 0;
    text-align: center;
    color:brown; 
    background-color: beige;   
}  

form{
    margin: 0 auto;
    max-width: 900px;
    
}

input, textarea, button, select{
    border: none;
    border-radius: 8px;
    width: 45%;
    padding: 15px 10px;
    margin: 3px 0;
    font-size: 1.8em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

textarea{
    height: 120px;

}

#btn{
    font-size: 3em;
    background-color: aquamarine;
}

#btn :hover{
    background-color: brown;
    color: blueviolet;
    cursor: pointer;
    transition: 0.5s;
}

label{
    font-size: 2.5em;
    padding: 30px 25px;
}

#icons i{
    width: 50px;
    text-align: right;
    
}

#icons a{
    
    margin: 0 15px;
    font-size: 3em;
    color: grey;
    
}

#icons a :hover{
    transform: scale(1.5);
    transition: 0.1s;
}

form a{
    font-size: 5em;
}





    
    
       






